*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 150px;
    color: red;
}

.heart{
    animation: pulse 1s linear infinite;
    text-shadow: 0 0 18px darkred; 
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}